body {
  background-color: white;
  margin: 0px 500px;
  padding: 10px;
  font-family: "Raleway";
}

nav {
  text-align: right;
  width:100%;
}


header {
  height: 50px;
  display:flex;
}

.first-section {
  display: flex;
  background-color: white;
  height: 500px;
}

.hebergement-a-marseille {
  flex: 5;
  background-color: #F2F2F2;
  margin: 10px;
  padding: 1%;
  border-radius: 10px;
}

.popularity {
    flex: 2;
     
    background-color: #F2F2F2;
    margin: 10px;
    border-radius: 10px;
}


.activites {
    height: 500px;
    background-color: black;
}

footer {
    background-color: #F2F2F2;
    display: flex;
}

.footer-column {

    background-color: #F2F2F2;
    align-items: center;
    margin: 5px
}


#marseille {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #F2F2F2;
  height: 90%;
  padding:1%
}

.section-title {
    font-weight: bold;
    margin: 10px;
    height: 3%;
}

.hebergement-article {
  width: 170px;
  height: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
 
}

.hebergement-image {
  object-fit: cover;
  width : 100%;
}

.hebergement-description {
  height: 40%;
  width: 100%;
  display: block;
  margin: 2px;
}

.image-wrapper {
  margin: 3px;
  width:100%;
  height:55%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color:white;
  border-radius: 10px;
}

.popularity-image {
    margin: 3px;
    width:100px;
    height:100%;
    overflow: hidden;
    display: flex;
    justify-content: left;
    background-color: white;
    border-radius: 10px;
}


.activites-wrapper {
  display:flex;
  background-color: rgb(145, 33, 33);
  flex-direction:column;
  border-radius: 10px;
  padding:1rem 2rem 1rem 2rem;
}

#activites-marseille {
  display: flex;
  width:auto;
}

.activites-image {
 width: auto;
 border-radius:10px;
 height: 100%;
}
/*
.activites-article {
 
}
*/

li {
  list-style: none;
}

@font-face {
  font-family: "Raleway";
  src: url(./Raleway/Raleway-VariableFont_wght.ttf) format("truetype");
}

input {
  border-radius: 10px;

}

.fa-dog {
  border-radius: 10px;

}

.fa-star {
  color: #0065FC;
  }

button {
  border-radius: 10px;
  margin-right: 10px;
  padding: 5px;
  
}

button:hover {
  text-decoration: underline;
  color:lightseagreen;
}

a:visited {
  color: lightseagreen;
}

a {
  text-decoration: none;
}



#toggle {
  display: flex;
  flex-direction: row;
}

/*
#activites-marseille{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;

}

.Vieux-Port { grid-area: 1 / 1 / 3 / 2; }

.Fort-de-pomègues { grid-area: 1 / 2 / 2 / 3; }

.Îles-du-Frioul { grid-area: 2 / 2 / 3 / 3; }

.Parc-National-des-Calanques { grid-area: 1 / 3 / 3 / 4; }

.Notre-Dame-de-la-Garde { grid-area: 1 / 4 / 2 / 5; }

.Parc-Longchamp { grid-area: 2 / 4 / 3 / 5; }
*/